{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h1>Create new Service</h1>

    {{ include('admin_add_services/_form.html.twig') }}

    <a href="{{ path('app_admin_add_services_index') }}">back to list</a>
{% endblock %}
